.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.online-reputation-management img {
    max-height: 200px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}